* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh; 
}

#main {
    background: linear-gradient(180deg, #F6D2D6 30.56%, #7688BB 100%) no-repeat;
    
    text-align: center;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

/* header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .toggle {
    position: relative;
    width: 30px;
    height: 30px;
    background: url(../assets/openMenu.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 10000;  
    margin-top: 70px;  
    margin-left: 170px;
    margin-bottom: 69px;
}

header .toggle.active {
    position: fixed;
    right: 40px;
    background: url(../assets/closeMenu.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
} */

#main-container {
    margin: auto;

    width: 90%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

.main-image img{
    width: 350px;
    height: 350px;    
    border-radius: 8px;
    margin-top: 100px;
    
}

.main-text {
    width: 500px;
    height: 350px;
    margin-top: 100px;
    
}

.main-text h3 {
    font-family: Palanquin;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}

#main-button-container {
    margin: auto;
    margin-bottom: 50px;
    width: 90%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.up-button a {
    width: 80px;
    height: 80px;
    margin-right: 100px;

    background: #7688BB;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.up-button a img {
    width: 64px;
    height: 63px;
}

.spotify-button a {
    text-decoration: none;
    width: 250px;
    height: 80px;
    margin-left: 100px;

    background: #7688BB;
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.spotify-button a img {
    width: 80px;
    height: 74px;
    margin-right: 5%;
}

.spotify-button a p {
    font-family: Palanquin;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: left;
    color: #F6D2D6;
    
    margin-left: 5%;
}

@media (max-width: 760px) {
    #main {    
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    #main-container {
        margin: auto;

        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-evenly;
    }

    .main-image img {
        width: 291px;
        height: 291px;
    }

    .main-text {
        width: 291px;
        height: 600px;
    }

    #main-button-container {
        margin: auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-between;
    }

    .up-button a {
        margin: 0;
        
        margin-bottom: 71px;
    }

    .spotify-button a {
        margin: 0;
        margin-bottom: 63px;
        margin-top: 50px;
    }
}


