* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh; 
}

#main {
    background: linear-gradient(180deg, #F6D2D6 30.56%, #7688BB 100%) no-repeat;
      
    text-align: center;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#main-container {
    margin: auto;

    width: 90%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

.main-image img{
    width: 350px;
    height: 350px;    
    border-radius: 8px;
    margin-top: 100px;
    
}

.main-text {
    width: 500px;
    height: 350px;
    margin-top: 100px;
    
}

.main-text h3 {
    font-family: Palanquin;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}

#main-button-container {
    margin: auto;
    margin-bottom: 50px;
    width: 90%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.down-button a {
    width: 80px;
    height: 80px;
    margin-right: 100px;

    background: #7688BB;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.down-button a img {
    width: 116px;
    height: 105px;
}

.spotify-button a {
    text-decoration: none;
    width: 250px;
    height: 80px;
    margin-left: 100px;

    background: #7688BB;
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.spotify-button a img {
    width: 80px;
    height: 74px;
    margin-right: 5%;
}

.spotify-button a p {
    font-family: Palanquin;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: left;
    color: #F6D2D6;
    
    margin-left: 5%;
}

@keyframes slideDown {
    from {
        margin-top: -100%;
    }

    to {
        margin-top: 1.4%;
    }
}

#main-container {
    overflow: hidden;
    animation-name: slideDown;
    animation-duration: 2s;
}

@keyframes slideRight {
    from {
        margin-left: -100%;
    }

    to {
        margin-left: 0%;
    }
}

.spotify-button {
    overflow: hidden;
    animation-name: slideRight;
    animation-duration: 2s;
}

@keyframes slideLeft {
    from {
        margin-right: -100%;
    }

    to {
        margin-left: 0%;
    }
}

.down-button {
    overflow: hidden;
    animation-name: slideLeft;
    animation-duration: 2s;
}

@media (min-width: 1500px) {
    .main-image img {
        width: 400px;
        height: 400px;
    }

    .main-text {
        width: 491px;
        height: 400px;
    }

    .main-text h3 {
    font-size: 15px;
    
    }

    .down-button a {
        width: 100px;
        height: 100px;
        margin-right: 260px;
    }
    
    .spotify-button a {
        width: 250px;
        height: 100px;
        margin-left: 260px;
    }

}


@media (max-width: 760px) {
    #main {    
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    #main-container {
        margin: auto;

        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-evenly;
    }

    .main-image img {
        width: 291px;
        height: 291px;
    }

    .main-text {
        width: 291px;
        height: 600px;
    }

    #main-button-container {
        margin: auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-between;
    }

    .down-button a {
        margin: 0;
        
        margin-bottom: 71px;
    }

    .spotify-button a {
        margin: 0;
        margin-bottom: 63px;
        margin-top: 50px;
    }
}
